﻿{% extends "base.html" %}
{% block head %}
    <title>404 ERROR!</title>
{% endblock %}
{% block content %}
        <h1>
            Ошибка 404!
        </h1>
        <h2>
            Вы ищете "странного"!
        </h2>
        <h3>
            Этого нет у меня.
        </h3>
        <h4>
            Но Вы не теряйте надежды.
        </h4>
        <h5>
            Продолжайте...
        </h5>
        <h6>
            Бороться, искать, найти и ... перепрятать.
        </h6>
{% endblock %}
