{% extends "base.html" %} {% block head %}
<!--
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
-->
<title>Настройка климата IT "Lot ltd"</title>
<link rel="stylesheet" href="/static/css/jquery-ui.css">
<link rel="stylesheet" href="/static/css/demos.css">
<link rel="stylesheet" href="/static/css/themes/base/all.css">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/js.cookie-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/moment-with-locales.min.js"></script>
<script src="/static/js/Chart.min.js"></script>
<script src="/static/js/metrics.js"></script>
<script src="/static/js/run.js"></script>
{% endblock %} {% block content %}
<nav class="navbar navbar-default .navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/sendstate">Расширенный дизайн</a>
        <a class="navbar-brand" href="/site2">Минималистичный дизайн</a>
    </div>
</nav>
<div id="main_form" class="col-md-3 jumbotron tron_info">
    <h2 for="amount">Установки кондиционера</h2>
    <div class="toggle-wrap">
        <h3>Выберите кондиционер:</h3>
        <div class="toggles">
            <label for="SAMURAI" class="clabel ui-checkboxradio-label ui-corner-all ui-button ui-widget ui-checkboxradio-radio-label">
                    SAMURAI
                    <div class="shape circle background jquery-ui" id="img_samurai"></div>
                </label>
            <input class="check toggle brand-toggle" type="checkbox" name="SAMURAI" id="SAMURAI" checked>
            <label for="ARVIN" class="clabel ui-checkboxradio-label ui-corner-all ui-button ui-widget ui-checkboxradio-radio-label">
                    ARVIN
                    <div class="shape circle background jquery-ui" id="img_arvin"></div>
                </label>
            <input class="check toggle" type="checkbox" name="ARVIN" id="ARVIN">
        </div>
    </div>
    <br>
    <br>
    <br>
    <div id="slider">
        <div id="custom-handle" class="ui-slider-handle"></div>
    </div>
    <br>
    <div class="widget panel panel-info">

        <h3>Выберите режим</h3>
        <fieldset>
            <legend>Только один режим можно задать одной командой: </legend>
            <label for="radio-2" class="ui-checkboxradio-label ui-corner-all ui-button ui-widget ui-checkboxradio-radio-label">
                Выключить/[включить для SAMURAI]
            </label>
            <input class="check" type="radio" name="radio-1" id="radio-2"><br>
            <label for="radio-3" class="ui-checkboxradio-label ui-corner-all ui-button ui-widget ui-checkboxradio-radio-label">
                Нагрев/[включить для ARVIN]
                </label>
            <input class="check" type="radio" name="radio-1" id="radio-3"><br>
            <label for="radio-4" class="ui-checkboxradio-label ui-corner-all ui-button ui-widget ui-checkboxradio-radio-label">
                Охлаждение/[включить для ARVIN]
            </label>
            <input class="check" type="radio" name="radio-1" id="radio-4" checked>
        </fieldset>
    </div>
    <br>
    <div class="btn-group">
        <button id="send" type="button" class="btn btn-primary btn-lg btn-block">Отправить команду</button>
        <br>
        <button id="load_cookie" type="button" class="btn btn-block">Загрузить настройки из cookie</button>
        <button id="save_cookie" type="button" class="btn btn-block">Сохранить настройки в cookie</button>
    </div>
</div>
<div id="mqtt_info" class="col-md-5 col-md-offset-1 jumbotron tron_info">
<!--
    <h2>Датчики mqtt</h2>
-->
    <h3 id="mqtt_info_h3" >Графики показателей mqtt</h3>
</div>
<div id="mqtt_az_info" class="col-md-2 col-md-offset-1 jumbotron tron_info">
    <h3 id="mqtt_h3">Значения показателей mqtt</h3>
    <div id="mqtt_CO2" class="co2">Уровень CO2: <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span></div>
    <div id="mqtt_Connected" class="co2">Подключено: <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span></div>
    <div id="mqtt_Humidity" class="co2">Влажность: <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span></div>
    <!--
        <div id="mqtt_LastBootDateTime" class="co2">LastBootDateTime: </div>
        <div id="mqtt_LastConnectedDateTime" class="co2">LastConnectedDateTime: </div>
        <div id="mqtt_LastSeenDateTime" class="co2">LastSeenDateTime: </div>
        <div id="mqtt_RSSI" class="co2">RSSI: </div>
-->
    <div id="mqtt_Temp" class="co2">Температура: <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span></div>
    <div id="mqtt_Uptime" class="co2">Время непрерывной работы: <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span></div>
    <!--
        <div id="mqtt_VCC" class="co2">VCC: </div>
-->
</div>
<br>
<div id="dialog" title="Сообщение">
    <p id="dialog_massage">2</p>
</div>
{% endblock %}
