{% extends "base.html" %}
{% block head %}
    <title>Set state air conditioning</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var temp = document.getElementById('temperature');
            temp.setAttribute("type", "number");
            temp.setAttribute("min", "20");
            temp.setAttribute("max", "30");
            temp.setAttribute("step", "1");
            temp.setAttribute("value", "25");
            var device = document.getElementById('device-0', true);
            device.setAttribute("checked", "");
            var command = document.getElementById('command-2', true);
            command.setAttribute("checked", "");
        });
    </script>
{% endblock %}
{% block content %}
    <nav>
        <a  class="btn btn-default" href="/sendstate">Расширенный дизайн</a>
    </nav>
    <div id="main_form" class="jumbotron col-md-4 col-md-offset-4">
    <form method="POST" action="/site2">
        <div>{{ form.csrf_token }}</div>
        <div>{{ form.hidden_tag() }}</div>
        <div>{{ form.device.label }}</div>
        <div>{{ form.device }}</div>
        <div>{{ form.temperature.label }}</div>
        <div>{{ form.temperature }}</div>
        <div>{{ form.command.label }}</div>
        <div>{{ form.command }}</div>
        <div>{{ form.send }}</div>
    </form>
    {% if last_command %}
    <h4>Last command</h4>
    <div>{{ last_command }}</div>
    {% endif %}
    </div>
{% endblock %}
