{% extends "base.html" %} {% block head %}
<script>
    var metrics_id = {{ metrics_id }};
</script>
<title>Настройка графиков</title>
<link rel="stylesheet" href="/static/css/jquery-ui.css">
<link rel="stylesheet" href="/static/css/demos.css">
<link rel="stylesheet" href="/static/css/themes/base/all.css">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/js.cookie-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/moment-with-locales.min.js"></script>
<script src="/static/js/Chart.min.js"></script>
<script src="/static/js/metrics.js"></script>
<script src="/static/js/editor.js"></script>
{% endblock %} {% block content %}
<nav class="navbar navbar-default .navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/sendstate">Расширенный дизайн</a>
        <a class="navbar-brand" href="/site2">Минималистичный дизайн</a>
    </div>
</nav>
<div id="mqtt_set" class="col-md-3 col-md-offset-1 jumbotron tron_info">
    <h3>Настройки графика</h3>
<form>
    <div>
        Заголовок графика: 
        <input type="text" name="metrics_header" id="metrics_header">
    </div>
    <div>
        "Легенда" графика: 
        <input type="text" name="metrics_label" id="metrics_label">
    </div>
    <div>
        "Показатель" графика: 
        <select id='point_id'>
            <option value="temperature">temperature</option>
            <option value="humidity">humidity</option>
            <option value="co2">co2</option>
        </select>
    </div>
    <div>
        Цвет графика: 
        <input type="color" name="metrics_color" id="metrics_color">
    </div>
    <div>
        Продолжительность графика (минуты): 
        <input
                type="number" 
                placeholder="10 минут шаг увеличение="10"
                step="10"
                min="10"
                id="time_duration" 
                name="time_duration"
        >
    </div>
    <div>
        Периодичность датчика (минуты): 
        <input
                type="number" 
                placeholder="1 минута увеличение step="1"
                step="1"
                min="0"
                id="time_group" 
                name="time_group"
        >
    </div>
    <div hidden>
        Обозначение датчика: 
        <input type="text" name="area_name" id="area_name">
    </div>
    <div hidden>
        База датчика: 
        <input type="text" name="db_name" id="db_name">
    </div>
    <div>
        <button id="save_settings" type="button" class="btn btn-block">Сохранить настройки графика</button>
        <button id="reload_settings" type="button" class="btn btn-block">Перезагрузить настройки графика</button>
        <button id="remove_settings" type="button" class="btn btn-block">Удалить этот график</button>
    </div>
</form>
</div>
<div id="mqtt_info" class="col-md-5 col-md-offset-1 jumbotron tron_info">
    <h3>График</h3>
    <h4 id="Metric-header"></h4>
</div>
{% endblock %}
